<link rel="import" href="../bower_components/polymer/polymer.html" />
<link rel="import" href="../bower_components/core-icons/notification-icons.html" />
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html" />
<link rel="import" href="../bower_components/paper-toast/paper-toast.html" />
<link rel="import" href="../bower_components/paper-input/paper-input-decorator.html" />
<link rel="import" href="../bower_components/paper-dialog/paper-dialog.html" />
<script src="https://cdn.socket.io/socket.io-1.2.1.js"></script>
<script>var socket = io('http://localhost:3000');</script>

<polymer-element name="img-share" attributes="src width heading dColBg dColFg">
  <template>
    <div on-tap="{{openDialog}}">
      <img src="{{src}}" style="width: {{width}};" />
      <paper-toast text="New photo" opened></paper-toast>
      <paper-dialog style="background-color: {{dColBg}}; color: {{dColFg}}" backdrop heading="{{heading}}" opened?="{{showDialog}}" transition="core-transition-center">
        <paper-input-decorator label="enter your email" floatingLabel="true">
          <input is="core-input" name="email" value="{{emailAddress}}" type="email" />
        </paper-input-decorator>
        <paper-input-decorator label="enter your phone number" floatingLabel="true">
          <input is="core-input" name="phone" value="{{phoneNumber}}" type="tel" />
        </paper-input-decorator>
        <paper-icon-button icon="mail" disabled?="{{!validEmail}}" on-tap="{{sendMail}}"></paper-icon-button>
        <paper-icon-button icon="notification:mms" disabled?="{{!validPhone}}" on-tap="{{sendMms}}"></paper-icon-button>
      </paper-dialog>
    </div>
  </template>
  <script>
  (function() {
    Polymer({
      src: "images/mj.jpg",
      width: "100vw",
      heading: "Share this photo",
      dColBg: 'white',
      dColFg: 'black',
      showDialog: false,
      openDialog: function(e) {
        var d = e.path[2].querySelector('paper-dialog');
        d.toggle();
      },
      sendMail: function() {
        console.log("mailing photo: " + this.src);
        socket.emit('mail photo', {filename: this.src, recipient: this.emailAddress});
      },
      sendMms: function() {
        console.log("text photo: " + this.src);
        socket.emit('text photo', {filename: this.src, recipient: this.phoneNumber});
      },
      validEmail: false,
      emailAddressChanged: function(oldVal, newVal) {
        if(/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(newVal)) {
          console.log('valid email address');
          this.validEmail = true;
        } else {
          console.log('invalid email address');
          this.validEmail = false;
        }
      },
      validPhone: false,
      phoneNumberChanged: function(oldVal, newVal) {
        if(/[0-9]{10}|^(\([0-9]{3}\)|[0-9]{3}-)[0-9]{3}-[0-9]{4}$/.test(newVal)) {
          console.log('valid phone number');
          this.validPhone = true;
        } else {
          console.log('invalid phone number');
          this.validPhone = false;
        }
      }
    });
  })();
  </script>
</polymer-element>
