$primary-color: rgb(253, 115, 43);
$secondary-color: rgb(2,139,255);

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0.7;
  width: 100%;
  background: url('/assets/img/headerGradient.png');
  height: 163px;
}

.core-opened overlay-host::shadow {
  paper-dialog {
    background-color: $primary-color;
    color: white;
    padding: 20px;

    paper-input-decorator {
      margin-right: 20px;
      margin-left: 0px;
      padding: 0;
    }
    input {
      background-color: white;
      border-radius: 10px;
      color: black;
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}
