<!DOCTYPE html>
<html>
  <head>
    <title>imgserve.js</title>
  </head>
  <body>
    <h1>imgserve.js</h1>
    <main>
      <section id="images"></section>
    </main>
  </body>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script>
    var socket = io('http://localhost:3000');

    function share(name) {
      socket.emit('share image', {filename: name});
    }

    socket.on('file changed', function(data) {
      $('#images').append("<img onclick='share(\"" + data.filename + "\")' src='images/" + data.filename + "' alt='" + data.filename + "' />");
    });
  </script>
</html>
